@use "variables";

body{
    margin: 0;
    background-color: variables.$bg;
    color: var(--text);
    font-size: 2rem;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style-image:url("../images/sword-img.avif") ;
}